<div class="navbardiv">
    <div class="logo"><%= render 'components/logo2' %></div>
    <div class="links">
        <a class="link" href="http://www.hex-agency.fr">Pour en apprendre plus sur HEX et nos service, rendez-vous sur notre site !</span>
    </div>
    <div class="btn-1"><%= link_to "Poste Vision", new_user_session_path, class: "txt"%></div>
</div>