/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #0000FF; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .head {
      display: flex;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      border: solid;
      border-width: 0px 0px 1px 0px;
      border-color: #167FFB;
    }
    
    .content {
      flex-grow: 1;
      a {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        .MainAction {
          padding: 10px 16px 3px 16px;
          font-size: 18px;
          font-weight: 900;
        }
        .SecAction {
          padding: 6px 16px 1px 16px;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .foot {
      font-size: 10px;
      display: flex;
      justify-content: space-around;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      border: solid;
      border-width: 1px 0px 0px 0px;
      border-color: #167FFB;
      .deco {
        color: #F1F1F1;
        font-weight: 700;
      }
      .compte {
        color: #F1F1F1;
        font-weight: 700;
      }
    }
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #818181;
    .MainAction {
      font-size: 18px;
      font-weight: 900;
    }
    .SecAction {
      font-size: 12px;
      font-weight: 500;
    }
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }