.tableau {
    .headline {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        .colone {
        }
    }
    
    .mainline{
        .ligne {
            display: grid;
            grid-template-columns: repeat(11, 1fr);
            .colone {
                
            }
        }
    }
    
    .footline {
    
    }
}